.nav {
  flex: none;
}

.list {
  list-style: none;

  display: flex;
  gap: var(--space-300);
  align-items: center;
  justify-content: center;
}

:global(.active) path {
  fill: var(--clr-white) !important;
}

/* Desktop (1440px) */
@media (min-width: 90em) {
  .list {
    flex-direction: column;
    gap: var(--space-500);
  }

  .nav {
    margin-bottom: auto;
  }
}
