.mainContainer {
  flex: 1;
  padding: var(--space-300) var(--space-200);
}

/* tablet (768px) */
@media (min-width: 48em) {
  .mainContainer {
    padding: var(--space-400) var(--space-300);
  }
}

/* Desktop (1440px) */
@media (min-width: 90em) {
  .mainContainer {
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--space-400) 3.6rem var(--space-400) 0;
    margin-bottom: calc(-1 * var(--space-400));
  }

  .mainContainer::-webkit-scrollbar {
    width: 10px;
    background-color: var(--clr-blue-900);
    border-radius: var(--radius-full);
  }

  .mainContainer::-webkit-scrollbar-thumb {
    background-color: hsl(223, 36%, 25%);
    border-radius: var(--radius-full);
    width: 10rem;
  }
}
