.formDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);

  font-size: 1.5rem;
  font-weight: var(--fw-light);
  line-height: 1.25;
}

label,
input {
  width: 100%;
}

input {
  appearance: none;
  border: none;
  background: none;
  outline: none;

  color: var(--clr-white);
  border-bottom: 1px solid var(--clr-blue-500);
  caret-color: var(--clr-red-500);

  padding: 0 var(--space-200) var(--space-200);
}

input::placeholder {
  color: var(--clr-white);
  opacity: 0.5;
}

input:user-invalid {
  border-bottom: 1px solid var(--clr-red-500);
}

.btnForm {
  color: var(--clr-white);
  background-color: var(--clr-red-500);
  text-align: center;
  border-radius: var(--radius-8);

  padding: var(--space-140) 0;
  margin-top: var(--space-200);
  width: 100%;

  transition: var(--base-transition);
}

.btnForm:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue-950);
}

.msgNoAccount {
  text-align: center;
}

.msgNoAccount span {
  margin-top: var(--space-50);
}

.msgNoAccount a {
  color: var(--clr-red-500);
  border-bottom: 1px solid transparent;
  text-decoration: none;

  padding-bottom: 0.1rem;

  transition: var(--base-transition);
}

.msgNoAccount a:hover {
  border-bottom: 1px solid var(--clr-red-500);
}
