.moviesList {
  --min-grid-width: clamp(160px, calc(11.2676vw + 117.746px), 280px);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-grid-width), 1fr));
  gap: var(--space-200);
}

/* Tablet */
@media (min-width: 48em) {
  .moviesList {
    row-gap: var(--space-300);
    column-gap: 3rem;
  }
}

/* Desktop (1440px) */
@media (min-width: 90em) {
  .moviesList {
    column-gap: var(--space-500);
  }
}
