.movie {
  position: relative;
  flex: none;
}

.poster {
  border-radius: var(--radius-8);
  object-fit: cover;

  margin-bottom: var(--space-100);
}

.movie--compact .poster {
  filter: brightness(0.7);

  margin-bottom: 0;
  width: 24rem;
  height: 14rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.movie--compact .detailsContainer {
  position: absolute;
  left: 1.6rem;
  bottom: 1.4rem;
}

.movieDetails {
  opacity: 0.75;

  display: flex;
  gap: var(--space-100);
  align-items: center;
}

.detailsSeparator {
  font-size: 2rem;
  background-color: var(--clr-white);
  opacity: 0.75;
  border-radius: 50%;

  display: block;
  width: 0.3rem;
  height: 0.3rem;
}

.movieDetailsItem {
  display: flex;
  gap: var(--space-50);
}

.bookmarkWrapper {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: var(--radius-full);
  background-color: var(--clr-blue-950);
  background-color: hsla(223, 30%, 9%, 0.5);

  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 900;
}

.bookmarkIcon path {
  stroke: var(--clr-white);

  transition: var(--base-transition);
}

.bookmarkWrapper:hover path,
.isBookmarked path {
  fill: var(--clr-white);
}
