.header {
  background-color: var(--clr-blue-900);

  display: flex;
  gap: var(--space-300);
  align-items: center;
  justify-content: space-between;
  padding: var(--space-200);
}

@media (min-width: 48em) {
  .header {
    padding: 2rem;
    gap: var(--space-400);
  }
}
