/* .form {
} */

.formContainer {
  display: flex;
  gap: var(--space-200);
  margin-bottom: var(--space-300);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  flex: none;
}

.searchWrapper {
  position: relative;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  align-self: center;
}

.searchWrapper::after {
  content: "";
  background-color: var(--clr-blue-500);

  display: block;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 1px;
  transform-origin: left;
  /* opacity: 0; */
}

:has(.searchInput:hover, .searchInput:focus-within)::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  transition: all 0.4s ease-out;
}

.searchInput {
  appearance: none;
  outline: none;
  border: none;
  caret-color: var(--clr-red-500);
  background-color: var(--clr-blue-950);
  color: var(--clr-white);

  width: 100%;
}

.searchInput::placeholder {
  color: var(--clr-white);
  opacity: 0.5;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* Tablets */
@media (min-width: 48em) {
  .formContainer {
    gap: var(--space-300);
    margin-bottom: var(--space-400);
  }

  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
