.trendingList {
  display: flex;
  gap: var(--space-200);
  overflow-x: auto;
  margin-right: calc(-1 * var(--space-200));
  padding-bottom: var(--space-100);
}

/* Tablet */
@media (min-width: 48em) {
  .trendingList {
    gap: var(--space-500);
    margin-right: calc(-1 * var(--space-300));
  }
}

/* Desktop (1440px) */
@media (min-width: 90em) {
  .trendingList {
    margin-right: -3.6rem;
  }
}
